@import '../../scss/vars.scss';

.about {
  display: flex;

  &.container {
    margin-top: 6rem;

    @media screen and (max-width: $tablet) {
      margin-top: 3rem;
    }
  }

  &-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    &__info {
      display: flex;
      flex-direction: column;

      & > :nth-child(1) {
        color: $black;
        font-size: 3rem;
        font-weight: bold;
      }

      & > :nth-child(2) {
        color: $orange;
        font-size: 3rem;
        font-weight: bold;
      }

      & > :nth-child(3) {
        color: $gray;
        font-size: 14px;
        font-weight: 100;
        margin-top: 10px;
      }
    }

    &__button {
      width: 10rem;
    }

    &__icons {
      display: flex;
      flex: 0;
      margin-top: 3rem;

      & > * {
        transform: scale(0.5);
      }
    }
  }

  &-right {
    flex: 1;
    position: relative;

    & > * {
      position: absolute;
      z-index: 1;
    }

    & > :nth-child(1) {
      left: 0%;
      top: -9%;
      transform: scale(1);
    }

    & > :nth-child(2) {
      left: -3rem;
      top: -4.6rem;
      transform: scale(0.67);
    }

    & > :nth-child(3) {
      left: 20%;
      top: -1.5rem;
    }

    & > :nth-child(4) {
      left: -24%;
      top: -19%;
    }

    @media screen and (max-width: $laptop) {
      & > :nth-child(1) {
        left: -15%;
        top: -9%;
        transform: scale(0.69);
      }

      & > :nth-child(2) {
        left: -3rem;
        top: -4.6rem;
        transform: scale(0.67);
      }

      & > :nth-child(3) {
        left: 10%;
        top: -4.5rem;
        transform: scale(1);
      }

      & > :nth-child(4) {
        left: -24%;
        top: -19%;
        transform: scale(1);
      }
    }

    &__floting {
      align-items: center;
      background: #fff;
      border: 1px solid $blueCard;
      border-radius: 17px;
      box-shadow: $boxShadow;
      color: $gray;
      display: flex;
      height: 4.5rem;
      justify-content: space-around;
      padding: 0 25px 0 0;
      width: 13rem;
      z-index: 10;

      & .floting-image {
        transform: scale(0.6);
      }

      & > span {
        font-family: sans-serif;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .about {
    flex-direction: column;
    height: 64rem;

    &-right {
      left: 2rem;
      transform: scale(1.2);

      &__floting {
        height: 3.5rem;
      }

      .blur {
        display: none;
      }

      & > :nth-child(1) {
        left: 5%;
      }

      & > :nth-child(2) {
        left: 6rem !important;
        top: -1.6rem;
        transform: scale(0.67);
      }

      &:nth-of-type(1) {
        top: -7rem !important;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .about {
    height: 50rem;

    &-right {
      left: -1rem;
      margin-top: 2rem;

      &__floting {
        height: 3.5rem;
      }

      & > :nth-child(1) {
        left: -10%;
        transform: scale(0.69);
      }

      & > :nth-child(2) {
        left: 2rem !important;
        top: -1.6rem;
        transform: scale(0.5);
      }

      & > :nth-child(3) {
        left: 50% !important;
        top: 7rem !important;
        transform: scale(0.7);
      }

      & > :nth-child(4) {
        left: 5% !important;
        top: 60% !important;
        transform: scale(0.7);
      }

      &__floting {
        border: 1px solid $blueCard;
        align-items: center;
        background: #fff;
        border-radius: 17px;
        box-shadow: $boxShadow;
        color: $gray;
        display: flex;
        height: 3.5rem;
        justify-content: space-around;
        padding: 0 25px 0 0;
        width: 13rem;
        z-index: 10;

        & .floting-image {
          transform: scale(0.5);
        }

        & > span {
          font-family: sans-serif;
          font-size: 18px;
        }
      }
    }
  }

  .about-left {
    &__icons {
      justify-content: center;
      margin: 0;
    }
  }
}
